.MAIN{
    background: snow;
    width: 730px;
    margin: auto;
    overflow: hidden;
    padding: 10px;
}

.jumbotron{
    background: whitesmoke;
}

.HOME{
    background: whitesmoke;
    width: 830px;
    margin: auto;
    overflow: hidden;
}