ul{
    list-style: none;
    padding: 0px;
}

.post-item{
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 13px 0;
}

.total-subtitle{
    text-align: center;
}

.avatar-group{
    width: 38px;
    height: 100%;
    float: left;
}

.avatar-group .avatar{
    width: 38px;
    height: 38px;
}

.post-group{
    float: left;
    width: 660px;
    margin-left: 10px;
}

.post-title a{
    color: darkcyan;
    font-weight: 800;
}

.post-info{
    text-align: right;
}

.post-info .post-author{
    margin-right: 20px;
}