<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titlename %}
        
    {% endblock %}-某个论坛</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block header %}
    
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <img class="LOGO" src="{{ url_for('static', filename='images/logo-0.png') }}">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% block homestate %} {% endblock %}"><a href="{{ url_for('home') }}">首页 <span class="sr-only">(current)</span></a></li>
        <li class="{% block totalstate %} {% endblock %}"><a href="{{ url_for('total') }}">论坛</a></li>
        <li class="dropdown {% block boardstate %} {% endblock %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">版块 <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {% for each in board_list %}
                    <li><a href="../..{{ url_for('sortpost', board_id=each.id) }}">{{ each.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" action="{{ url_for('search') }}">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="请输入标题关键字" name="keyword">
        </div>
        <button type="submit" class="btn btn-default">查找</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
          {% if user %}
              <li class="USERNAME"><a>{{ user.name }}</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle {% block settingstate %} {% endblock %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于我 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('post') }}">我要发帖</a></li>
                    <li><a href="#">我的收藏</a></li>
                    <li><a href="{{ url_for('userinfo', user_id=user.id) }}">个人中心</a></li>
                    <li role="separator" class="divider"></li>
                    {% if user.is_admin == 'Y' %}
                        <li><a href="{{ url_for('black') }}">用户管理</a></li>
                        <li><a href="{{ url_for('blackpost') }}">帖子管理</a></li>
                        <li role="separator" class="divider"></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">退出登录</a></li>
                </ul>
                </li>
          {% else %}
              <li class="{% block loginstate %} {% endblock %}"><a href="{{ url_for('login') }}">登录</a></li>
              <li class="{% block registerstate %} {% endblock %}"><a href="{{ url_for('register') }}">注册</a></li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="HOME">
    {% block homebody %}

    {% endblock %}
</div>

<div class="MAIN">
    {% block mainbody %}

    {% endblock %}
</div>




</body>
</html>