{% extends 'postmag.html' %}

{% block blackp %}
    active
{% endblock %}

{% block mainbody %}
    <ul class="reviews-list-group">
        {% for each in blackps %}
            <li class="review-item">
                <div class="avatar-group">
                    <img src="{{ url_for('static', filename='images/logo-0.png') }}" alt="" class="review-avatar">
                </div>
                <div class="post-group">
                    <a href="{{ url_for('detail', post_id=each.id) }}" class="review-title">{{ each.title }}</a>
                    <p class="review-content">{{ each.content }}</p>
                    <div class="review-op">
                        {% if user and each.board.admin_id==user.id or user and user.id==1 %}
                            <a href="{{ url_for('normalpost', post_id=each.id) }}" class="admin-fire">恢复</a>
                        {% endif %}
                        &emsp;
                        <a class="post-author" href="{{ url_for('userinfo', user_id=each.author.id) }}">{{ each.author.name }}</a>
                        &emsp;
                        <span class="post-date">{{ each.post_day }}</span>
                        &emsp;
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}