{% extends 'base.html' %}

{% block titlename %}
    首页
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block homestate %}
    active
{% endblock %}

{% block homebody %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome home :)</h1>
            <p>剑阁峥嵘而崔嵬，一夫当关，万夫莫开。</p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('total') }}" role="button">Learn more</a></p>
        </div>
    </div>
{% endblock %}

{% block mainbody %}
    {% for each in hots %}
        <div class="list-group">
            <a href="{{ url_for('detail', post_id=each.id) }}" class="list-group-item ">
                <h4 class="list-group-item-heading">{{ each.title }}</h4>
                <p class="list-group-item-text">{{ each.content }}</p>
            </a>
        </div>
    {% endfor %}
{% endblock %}