{% extends 'base.html' %}

{% block titlename %}
    {{ the_board.name }}
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/total.css') }}">
{% endblock %}

{% block boardstate %}
    active
{% endblock %}

{% block homebody %}
    <div class="page-header">
        <h1 class="title-words" style="margin-left: 270px;">
            {{ the_board.name }} &emsp;
            <small>  版主：
                <a href="{{ url_for('userinfo', user_id=the_board.admin.id) }}">{{ the_board.admin.name }}</a>
            </small>
        </h1>
    </div>
{% endblock %}

{% block mainbody %}
    <ul class="posts-list-group">
        {% for each in posts %}
            <li class="post-item">
                <div class="avatar-group">
                    <img src="{{ url_for('static', filename='images/logo-0.png') }}" alt="" class="avatar">
                </div>
                <div class="post-group">
                    <a href="{{ url_for('detail', post_id=each.id) }}" class="post-title">{{ each.title }}</a>
                    <p class="post-content">{{ each.content }}</p>
                    <div class="post-info">
                        <a class="post-author" href="{{ url_for('userinfo', user_id=each.author.id) }}">{{ each.author.name }}</a>
                        <span class="post-date">{{ each.post_day }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}